<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><i class="fa fa-github" aria-hidden="true" fa-5x></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/master" routerLinkActive='active'>Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/repo" routerLinkActive='active'>Repo</a>
    </div>
  </div>
</nav>
<!-- navigation ends -->
<router-outlet></router-outlet>
