.badge{
    padding: 10px;
    margin: 5px;
}
.card-header {
    text-align: center;
}
#swara {
    width: 49.8%;
    margin: auto;
}
.first{
    text-align: center;
}
h1{
    text-align: center;
}
body{
    background-color: rgba(37, 35, 35, 0.747);
}
.row{
    margin: 2px;
}